@CHARSET "UTF-8";

/*
 
# : 아이디
. : 클래스
 
*/

#div_root{
	margin:auto;	
}

#div_top{
	width:100%;
	height:100px;	
}

#div_login{
	width:30%;
	float:right;	
}

.center{
	width:50%;
	margin:auto;
}