@CHARSET "UTF-8";

/*

blank : 태그 
# : 아이디
. : 클래스
 
*/


/* 태그 CSS 정의 */
input{
	height:23px;
	margin-top:3px;
	cursor:pointer;
}

a{
	cursor:pointer;
}

li{
	list-style:none;
}

/* 클래스 CSS 정의 */
.input_city{
	width:16pc;
	float:left;
}

.input_cal{
	width:16pc;
	float:left;
}

.input_traveler{
	float:left;
	width:400px;	
}

.search_context{
	width:100%;
	float:left;
	height:50px;
}

.search_city{
	width:64pc;
	position: relative;	
}

.traveler_person ul .number{
	margin-left:10px;
	margin-right:10px;
}

.traveler_person ul li{
	margin-top:20px;
}

.traveler_person ul .text{
	float:left;	
	width:100px;	
}

.traveler_list{
	position:absolute;
	width:400px;
	margin-left:35px;	
	border: 1px solid #bcbcbc;
	display:none;
	background-color:#ffffff;
}
.traveler_list .traveler_person{
	float:left;
	width:249px;
	border-right: 1px solid #bcbcbc;	
}

.traveler_list .traveler_person ul .title{
	height:20px;
}

.traveler_list .traveler_grade{
	float:left;
	width:150px;
}

.traveler_list .traveler_grade ul li{
	margin-top:20px;
}

.traveler_list .traveler_grade ul .grade span{
	border:1px solid #bcbcbc;
	padding-left:10px;
	padding-right:10px;
	cursor:pointer;
}

.traveler_list .traveler_grade ul .grade #economy{
	border:1px solid #ff0000;	
}

.minus{
	display:inline-block;
	width:16px;
	height:16px;	
	background:url(../img/minus.png);	
	background-size: 16px 16px;
	background-repeat:no-repeat;	
}

.plus{
	display:inline-block;
	width:16px;
	height:16px;	
	background:url(../img/plus.png);	
	background-size: 16px 16px;
	background-repeat:no-repeat;	
}

.city_loc_list{
	display:none;
	position:absolute;
	width:400px;	
	border: 1px solid #bcbcbc;
	margin-left:35px;	
	overflow-y: scroll; 
	height:300px;	
	background-color:rgba(0, 225, 255, 0.5);
}

.center{width:50%;	margin:auto;}
.search_type li{float:left;margin-right:50px;content:"";border-color:red;cursor:pointer;}

/* ID CSS 정의 */

#div_root{
	margin:auto;	
}

#div_top{
	width:100%;
	height:100px;	
}

#div_login{
	width:30%;
	float:right;	
}

#div_logo{
	float:left;
}

#div_search{
	margin: -1px auto 1pc;
    height: 25px;
    width: 64pc;
    position: relative;	
}

#search_multi_info{
	display:none;
}

#city_loc_ul{
	height:100%;
	margin:0;
	padding:0;
}

#city_loc_ul li{
	height:10%;
	width:100%;
	margin:0;	
}